{% extends 'template.html' %}
    	
{% block title %}Share{% endblock title %}

{% block head %}
{% block style %}

<link href="../static/splitscreen.css" rel="stylesheet">
<link href="../static/page_top.css" rel="stylesheet">

<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/start/jquery-ui.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<!-- js file -->
<script type="text/javascript" src="../static/splitscreen.js" ></script>

{% endblock style %}

<script>
(function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
l.src='https://surfly.com/surfly.js';y.parentNode.insertBefore(l,y);})
(window,document,'script','Surfly');
</script>

<script>
var sess;
var inviteLink;
var lastUrl;

var settings = {widgetkey:'b84defc4621441ecae5eb10bdec1cb5a', block_until_agent_joins: false, ui_off: true, set_to_smallest: false};
window.addEventListener('DOMContentLoaded', function() {
  Surfly.init(settings, function(init) {
    if (init.success) {
      	if(!Surfly.currentSession){
	      s = Surfly.session();
	      s._settings.url = "https://www.duckduckgo.com";
	      s.on('session_started', function(session) {
		       // get the session id from the follower link
			var followerLink = session.followerLink;
			var linkIndex = followerLink.indexOf(".com");
			var sessionID = followerLink.substring(linkIndex+4, linkIndex+16);
			// get the page origin
                        var pageDomain = document.location.origin;
			// append the page domain to the session id
                        inviteLink = pageDomain.concat(sessionID);
                        // send the link as a post message to iframe 2
                        var popupWindow = document.getElementById("ifrm2").contentWindow;
		        popupWindow.postMessage(inviteLink, "*");
                        // change the url of the window to display the follower link 
                        window.history.pushState('followerUrl',"", inviteLink);
                        // make the nav bar visible
			document.getElementById('form_wrapper').style.visibility = "visible";
			// store session
			sess = session;	
		})
		.on('relocated', function(session, event) {
			// send message to the other side
			var frame = document.getElementById('ifrm2').contentWindow;
			frame.postMessage(JSON.stringify({"command": "message", "data": "The leader relocated to: " + event.url}), '*');
			// store current url
			lastUrl = event.url;
		})
		.on('viewer_joined', function(session, event) {
			// update feed
			update_feed("Someone joined your session!");
			// make menu elements visible
			document.getElementById('menu_right').style.visibility = "visible";
			// send current link to other side so that the session start on this page
			if(lastUrl){
				setTimeout(function(){
					var frame = document.getElementById('ifrm1').contentWindow;
					frame.postMessage(JSON.stringify({"command": "message", "data": "Current url: " + lastUrl}), '*');
				}, 2000);
			}
		})
		.on('session_ended', function(session) {
			document.getElementById('exit_button').style.visibility="hidden";
		}).startLeader('#ifrm1');
	} 
     }
   });
 });
</script>

{% endblock head %}

{% block content %}

{% block menu %}

  {{ super() }}

{% endblock menu %}

<!-- define form behaviour -->
<script type="text/javascript" src="../static/form.js" ></script>

{% endblock content %}

