<!DOCTYPE html>
<html lang="en">

<head>
   {% block head %}
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">

    	<title>{% block title %}{% endblock title %}</title>

	<!-- Custom CSS/ scripts -->
	{% block style %} 
           <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% endblock style %}

    {% endblock head %}
</head>

    <body>
       {% block content %}
          {% block menu %}
          <div id="menu">
	  <div id="menu_right">
		<button class="button" id="exit_button" onclick="exitSession()">Exit</button>
		<button id="ignore" onclick="ignoreFriend()">Ignore Friend</button>
		<button id="goodReaction" class="reaction" onclick="goodReaction()"></button>
		<button id="badReaction" class="reaction" onclick="badReaction()"></button>
		<div id="feed">
			<p id="news_feed"></p>
		</div>
	  </div>
	  <div id="form_wrapper">
		<form id="nav" action="" method="post">
			<label style="float:left">
				<input id="url" type="text" name="url" placeholder="duckduckgo.com"/>
			</label>
			<label>
			       <input type="button" class="button" id="submit_button" onclick=navigate() value="Go!" />
			</label>
		</form>
	    </div>
          </div>

          <!-- the iframes -->
          <!-- the frame in which the leader link is opened -->
          <div class="box"><iframe id="ifrm1" src="" height="700px" width="49%" align='left'></iframe></div>
          <!-- the frame in which the follower link will be opened -->
          <div class="box"><iframe id="ifrm2" src="" height="700px" width="49%" align='right'></iframe></div>
          <!-- the reaction is seen in this iframe -->
          <div class="box"><iframe align='left' id="reaction" src="" height="300" width="300"></iframe></div>
          {% endblock menu %}
       {% endblock content %}
   </body>

</html>
